@model Vidly.Models.Customer

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@{  
    var customer = @Model.FirstName + " " + @Model.LastName;

}

<h2> @customer </h2>
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (@Model.BirthDate.HasValue)
    {
        <li>Birthdate: @Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>


