@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>There are no customers yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Customers</th>
            <th>Subscription</th>
        </tr>

        @foreach (var customer in Model)
        {
            var fullName = customer.FirstName + " " + customer.LastName;
            <tr>
                <th>
                    @Html.ActionLink(fullName, "Edit", "Customers", new { id = customer.Id }, null)
                </th>
                <th style="font-weight:normal">@customer.MembershipType.Name</th>
            </tr>

        }
    </table>
}
