@model Vidly.ViewModels.RentalFormViewModel

@{
    ViewBag.Title = "RentalForm";
}

<h2>Rental Form</h2>

@using (Html.BeginForm("Save", "Rentals"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.RentalDto.MovieId)
        @Html.DropDownListFor(m => m.RentalDto.MovieId, new SelectList(Model.Movies, "Id", "Name"), "Select Movie...", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RentalDto.MovieId)
    </div>
    @Html.HiddenFor(m => Model.RentalDto.CustomerId)

    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Submit</button>

}







